* {
    /*quita los margenes y paddings por defecto */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1000px;
    margin: 0 auto;
}

header {
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    /*para centrar una imagen con display flex*/
}

.logo {
    width: 500px;
    height: 250px;
}

h1 {
    color: red;
    margin-top: 150px;
}

/*MENU*/
nav ul {
    padding-bottom: 10px;
    display: flex;
    /*menu horizontal*/
    list-style: none;
    /* quitar los puntitos*/
    justify-content: right;
    /*espaciado opciones menu*/
}

nav ul a {
    padding: 5px 20px;
    /*separar las opc de menu*/
    text-decoration: none;
    /*quitar subrayado menu*/
    color: black;
}

.resalte {
    text-decoration: underline;
}

h2 {
    color: black;
    text-align: center;
    padding: 25px;
    background-color: yellow;
}

footer {
    background-color: red;
    height: 200px;
    text-align: center;
    padding-top: 10px;
}

footer ul {
    display: flex;
    /*menu horizontal*/
    list-style: none;
    /* quitar los puntitos*/
    padding: 10px 10px;
    list-style: none;
    /* quitar los puntitos*/
    justify-content: center;
    /*espaciado opciones menu*/

}

footer ul a {
    padding: 5px 20px;
    /*separar las opc de menu*/
}

section {
    background-color: white;
    width: 100%;
}

.quien {
    margin: 10px 10px;
}

section ul {
    padding: 50px;
    list-style: none;
    /* quitar los puntitos*/
    justify-content: right;
    /*espaciado opciones menu*/
    background-color: cornflowerblue;
}

section ul a {
    text-decoration: none;
    /*quitar subrayado menu*/
    color: black;
    text-align: right;
}

article {
    padding-top: 10px;
    text-align: justify;
    text-indent: 30px;
    background-color: white;
}

.columna {
    display: flex;
}

.submenu {
    background-color: yellow;
}

.portfolio {
    text-align: justify;
    /*ajustar las imagenes a su padre*/
    padding-top: 30px;
}

.portfolio img {
    width: 32%;
}

.formu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    text-align: center;
}

.formu input,textarea {
    margin-bottom: 10px;
}

.social-link {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
}